<!doctype html>
<html>
<head>
<meta name="viewport" content= "width=device-width, inital-scale=1.0"/>
<script>
function validateForm() {
	var elem = document.getElementById('questions').elements;
	var allQ = []
	var checkedQ = []
    for(var i = 0; i < elem.length; i++){
		if(elem[i].type == "radio"){
			allQ.push(elem[i].name)
            if ( elem[i].checked ){
					checkedQ.push(elem[i].name)
			}
}	}
	if (!(((allQ.length/2) == checkedQ.length) && (checkedQ.length != 0))){
		alert("All questions must be filled out before submiting");
        return false;
		}
}
</script>
</head>

<h1>{{survey.title}}</h1>
<pre>"Facebook last updated {{ date.facebookDate }}"</pre>
<pre>"Text messages last updated {{ date.smsDate }}"</pre>
<pre>"Twitter last updated {{ date.twitterDate }}"</pre>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form id= 'questions' name ='questions' onsubmit="return validateForm()" >
{% csrf_token %}
{% for  question in survey.question_set.all %}
        <pre>{{ question.text }}</pre>
       
        {% if question.atype == 0 %}
            <textarea name = "{{ question.id }}" id = "{{ question.id}}">
            </textarea><br />
        {% endif %}
       
        {% if question.atype == 1 %}
            {% for choice in question.choice_set.all %}
      
                <input type="radio" name="{{ question.id }}" id="choice{{ forloop.counter }}{{ forloop.parentloop.counter}}" value="{{ choice.id }}" />
                <label for="choice{{ forloop.counter }}{{ forloop.parentloop.counter}}">{{ choice.choice_text }}</label><br />
            {% endfor %}
        {% endif %}
        
        {% if question.atype == 2 %}
            {% for choice in question.choice_set.all %}
                <input type="checkbox" name="{{ question.id }}" id="choice{{ forloop.counter }}{{ forloop.parentloop.counter}}" value="{{ choice.id }}" />
                <label for="choice{{ forloop.counter }}{{ forloop.parentloop.counter}}">{{ choice.choice_text }}</label><br />
            {% endfor %} 
        {% endif %}
{% endfor %}
<input type="submit" value="Submit" />
</form>
</html>


