
<!DOCTYPE HTML>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
            <meta http-equiv="content-type" content="text/html;charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
	    <title>
            Iowa Cyberbullying Study
            </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>	
    <link rel="stylesheet" href="{{ STATIC_URL }}/screenshot.css">
<style>
.carousel-control.left, .carousel-control.right {
    background-image: none
}
</style>

</head>
        <body>
<!-- BODY CONTENT DOWN HERE -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="brand" href="http://www.uiowa.edu" tabindex="1">
              <img src="https://icon.uiowa.edu/public/images/university-iowa-logo.png" style="padding-top: 6px; padding-right: 20px;" alt="University of Iowa Homepage" id="uiLogoBrand">
            </a>
        </div>
    </div>
</nav>

<style>
.carousel-inner > .item > img {
    margin: 0 auto;
}
</style>
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/static/happyPhoto1.JPG" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1 style=".{color: #fff;text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;}" >Welcome!</h1>
          <h2 style=".{color: #fff;text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;}">Cyberbullying Study</h2>
          <h3 style=".{color: #fff;text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;}">Understanding content and contexts</h3>
          <p><a href="mailto:rebecca-bruening@uiowa.edu"><button class="btn btn-primary" style=".{float-center}">Contact Us!</button></a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/static/happyPhoto2.JPG" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h3>Our study is led by a diverse team of researchers!</h3>
          <p><a href="/cyber-bullying/faculty"><button class="btn btn-primary" style=".{float-center}">Meet the Researchers!</button></a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->
<script type="text/javascript">
    $(document).ready(function() {
        $('.carousel').carousel({
            interval: 5000,
            cycle: true
        });
    });
</script>
<!--main-->
<div class="container">
<!-- Example row of columns -->

        <div class="row">

      <!--right-->
      <div class="col-md-12">
        <h2 id="sec0">University of Iowa Research Study</h2>
        <p>
          The purpose of this study is to understand what cyberbullying is and how it occurs. About 400 middle school students across Iowa will be invited to be part of this study. This study involves two activities.</p>
        <blockquote><h2>This study will help us understand how cell phones and social media affect health and well-being.   We need information from adolescents of all walks of life.</h2></blockquote>
        <hr>

	 <h3 id="sec3">Already enrolled in the study? Take the first online survey NOW!</h3>
                <p>
                If you have already completed and sent us your recruitment forms (consent, assent, and contact information) and you have received your online survey login information from the study team, click the “Take the Survey Now” button to go directly to the first survey. When prompted, enter your unique login information to get started. (Note: The survey is optimized to be taken on a computer, laptop, or iPad. The survey may not appear properly on a smartphone or other mobile device.)
                        </p>
<a target="_blank" href="https://uiowa.qualtrics.com/SE/?SID=SV_beA1tnJtDkm0aB7"><button class="btn btn-primary" style=".{float-center}">Take the Survey Now!</button></a><br/>
                        <p>
                  Thank you for participating in our study!
                        </p>
        <hr>



	<div class="row">
        	<div class="col-md-12 span4 collapse-group">
		<h3>Find out more about the study</h3>
          <p><a class="btn ptn-large btn-primary" data-toggle="collapse" data-target="#viewdetails">View Study Details &raquo;</a></p>
           <div class="collapse" id="viewdetails">
        <h3 id="sec1">Activity 1</h3>
        <p>
          Each child will be asked to complete two surveys, one in Fall 2014 and another in Spring 2015.  The survey will ask about communicating online and experiences with bullying both online and offline.  Each survey will take about 15 minutes to complete, and may be taken online or by paper (and sent back in a self-addressed stamped envelope).
        </p>

        <hr>

        <h3 id="sec2">Activity 2</h3>
        <p>
          Children who use iPhones or Androids will be asked to participate in an observational part.  Children will install a software application to capture text messages and posts on Facebook and Twitter for five months.
        </p>

        <hr>

        <h3 id="sec3">Compensation</h3>
        <p>
          Children and parents will be consented for participation, and they may choose to participate in only Activity 1 (survey activity). A child does not need to own an iPhone or Android smartphone to be in the first part of this study. Children will be paid $15 for completing each survey. Children in the smartphone observation activity will be paid $40 per month (total is $200 for 5 months) to cover approximate costs of a smartphone data plan.  Taking part in this research study is completely voluntary.</p>

                <p>
          Schools are critical partners in this project. We will work closely with schools in our recruitment efforts and look forward to speaking with staff and parents about the study. Results of this study will be shared with school staff, parents and children.
                </p>
        <hr>

        <h3 id="sec4">Timeline</h3>
        <table style="width:100%">
          <tr>
            <td>Late Fall 2014</td>
            <td>Recruitment and school meetings</td>
          </tr>
          <tr>
            <td>Late Fall 2014</td>
            <td>Fall surveys</td>
          </tr>
          <tr>
            <td>Late Fall 2014</td>
            <td>Fall surveys</td>
          </tr>
          <tr>
            <td>Fall 2014-Spring 2015</td>
            <td>Smartphone observations</td>
          </tr>
          <tr>
            <td>Late Spring 2015</td>
            <td>Spring surveys</td>
          </tr>
        </table>

<hr>

        <h3 id="sec3">Instructions for Android users</h3>
        <a href="/cyber-bullying/instructions"><button class="btn btn-primary" style=".{float-center}">Instructions Here!</button></a>

<hr>

        <h3 id="sec3">Instructions for iPhone users</h3>
        <a href="/cyber-bullying/login"><button class="btn btn-primary" style=".{float-center}">Instructions Here!</button></a>
	<hr>
	<h3 id="sec3">Privacy Statement</h3>
		<a href="http://alacran.cs.uiowa.edu/cyber-bullying/privacy/"><button class="btn btn-primary" style=".{float-center}">Privacy</button></a><br/>
        <hr>



</div></div></div>
        <hr>

        <h3 id="sec3">Eligibility</h3>
                <p>
                 Only middle school students in select schools in Iowa can participate in this study. Those who wish to participate in the iPhone or Android observation part must be the primary user of an iPhone or Android smartphone. Also, iPhone users must have a Facebook account to be eligible.
                </p>
        <hr>

        <h3 id="sec3">Interested? Contact Us Now!</h3>
                <p>
                 If you want to know more about the Cyberbullying Study or wish to enroll, click on the “Contact Us” button to email us the name of the middle school student, the name of a parent or guardian, and the middle school where the student is in attendance, and your question or interest in enrolling.
                </p>
        <a href="mailto:rebecca-bruening@uiowa.edu"><button class="btn btn-primary" style=".{float-center}">Contact Us!</button></a>
        <hr>

        <h3 id="sec3">Information About Bullying</h3>
                <p>
              If you or someone you know wishes to know more about bullying or seek support, please click <b><a href="http://alacran.cs.uiowa.edu/cyber-bullying/resources/">here</a></b> for more information.
                </p>
        <hr>

        <h3 id="sec2">Contact Info</h3>
        <p>
          <div>
            <a href="https://www.public-health.uiowa.edu/iprc/"><img id="picture"  src="https://www.public-health.uiowa.edu/iprc/img/IPRClogo-2012.jpg" style=".{float-right}"/></a>
            <a href="http://ppc.uiowa.edu/"                    ><img id="picture2" src="http://ppc.uiowa.edu/sites/all/themes/ppc/logo.png"             style=".{float-right}" height="75" background="blue"/></a>
          </div>
        <style>
          #picture{
            float:right
          }
          #picture2{
            float:right;background-color: #013161;
          }
        </style>
          For information, contact: <br>
          Rebecca Bruening<br>
          <a href="mailto:rebecca-bruening@uiowa.edu">rebecca-bruening@uiowa.edu</a><br>
          (319) 384-4226<br>

        <hr>

        </div><!--/right-->
        </div><!--/row-->
</div><!--/container-->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
  </footer>

</div><!-- /.container -->

<!-- END BODY CONTENT HERE -->


        </body>
    </html>


