<!DOCTYPE html>
<html>
<body>
<meta name="viewport" content= "width=device-width, inital-scale=1.0"/>
<h1>Install Instructions</h1>
<ol type= "I">
  <li><b>Open the play store and search for uiowa cyber bullying</b></br>
  <img border="0" src="/static/Screenshot_2014-08-08-12-42-59.png" width="270" height="480"></li></br>
  <li><b>Select the app with name Uiowa Cyber Bullying and author Max Clapp</b> </br>
  <img border="0" src="/static/Screenshot_2014-08-08-12-43-06.png" width="270" height="480"></li></br>
  <li><b>Press install</b></br>
  <img border="0" src="/static/Screenshot_2014-10-30-14-52-43.png" width="270" height="480"></li></br>
</ol>
</body>
</html>
